.calc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 60px 60px 60px 60px ;
  column-gap: 20px;
}

.calc-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS */
.button-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-pushable:hover .button-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-pushable:hover .button-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-pushable:focus:not(:focus-visible) {
  outline: none;
}

.screen{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  height: 200px;
  width: 500px;
  background: hsl(345deg 100% 47%);
  border-radius: 10px;
}

.display{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 40px;
}

.body {
  padding: 20px 20px 20px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  width: fit-content;
  background-color: white;
  margin: 10px 0 15px 0;
}

@media (max-width: 765px) {
  .screen {
    width: 355px;
  }
  
  .body {
    width: 365px;
  }
}

@media (max-width: 766px) and (min-width: 1010px) {
  .screen {
    width: 550px;
  }
}

@media (min-width: 1020px) {
  .screen {
    width: 664px;
  }

  .body {
    width: fit-content;
  }
}


.background {
  background-color: rgb(207, 206, 206);
  display: grid;
  place-content: center;
}

.header {
  font-family: "Menbere", sans-serif;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

.header-div {
  align-items: center;
  justify-content: center;
  display: flex;
}